@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post">
        <button type="submit" class="btn-danger">
            Probemos esto....
        </button>
    </form>
    <h1 class="display-4">
        @ViewData["MENSAJE"]
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
